<!doctype html>
<html>
	<head>
		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<title>Welcome!</title>
	</head>
	<body>
	</body>
</html>

<h1 class="text-center">
	Hello! Welcome to this NHL app
</h1>
<h2 class="text-center">
	You can view information about the NHL by doing the following:
	<h3 class="text-center"> 
		To see team statistics use the endpoint: /teamID/#.html, where # is the team you'd like to view. Teams are numbered 1 - 31. For example, the Phildelphia Flyers are #4.
	</h3>
	<h3 class="text-center">
		To see player statistics use endpoint: /playerID/#.json, where # is that player's ID. Player IDs are 7 digit numberals. For example, Eamon McAdams is ID 8477438.
	</h3>
</h2>